@model IEnumerable<string>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    @foreach (string category in Model ?? Enumerable.Empty<string>())
    {
        <li class="nav">
            <a class="nav-link text-dark @(category == ViewBag.SelectedCategory ? "btn-primary": "text-secondary")"
           asp-action="Index" asp-controller="Home"
           asp-route-category="@category"
           asp-route-productPage="1">
                @category
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
    <li>
        <form class="input-group" asp-controller="Home" asp-action="Search" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search" name="searchString">
            <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </li>
</ul>


