@page

<div class="text-center">
    <h2>Ju Faleminderit per porosin tuaj @Name</h2>
     <p>Ju do te pranoni produktin sa me shpejt qe eshte e mundur!</p>
    <p>Faleminderi per besimin tuaj!<p>
    <a class="btn btn-primary" asp-controller="Home">Return to Store</a>
</div>

@functions {

 [BindProperty(SupportsGet = true)]
 public int? OrderId { get; set; }
 
  [BindProperty(SupportsGet = true)]
 public string? Name { get; set; }


}