@model ProductsListViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div style="margin:-18px;">
    <img src="~/Image/homebackground.png" style="width:100%;" />
</div>

<div style="width:500px; margin-top:40px;">
     <form class="input-group" asp-controller="Home" asp-action="FilterByPrice" method="get">
            <label>From</label>
            <input class="form-control mr-sm-2" type="text" aria-label="Filter" name="priceFrom">
            <label>To</label>
            <input class="form-control mr-sm-2" type="text" aria-label="Filter" name="priceTo">
            
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Filter By Price</button>
        </form>
</div>

<div class="container" style="padding:20px; margin-top:50px;">
    <div class="row">
        @foreach (var p in Model?.Products ?? Enumerable.Empty<Product>())
        {
           <partial name="ProductSummary" model="p" />
        }
        <div page-model="@Model?.PagingInfo" page-action="Index" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-outline-dark"
             page-class-selected="btn-primary" page-url-category="@Model?.CurrentCategory!"
             page-class-selected="btn-primary" class="" style="display:flex; justify-content:center; ">
        </div>
    </div>
</div>


